body {
    background-color: aliceblue;
}

body > .container, .container > .row {
    height: 100%;
}

button[type="submit"] {
width: 100%;
}

.fsm-container {
    padding: 15px 0;
    margin-bottom: 15px;
    border: 1px solid #e6e6e6;
    background-color: white;
}

.fsm-state {
    margin: 15px 0;
}
